    <div id="maindiv">
        
        <% @articles.each do |article| %>

        <a class="user_box_link" href="<%= article_path(article) %>">
            <article class="user_box">
                <h2><%= article.title %></h2>
                <p><%= article.comment.truncate(100, omission: '...') %></p>
            </article>
        </a>
        
        <% end %>
        
        <%= paginate @articles %>

    </div>

    <div id="iconlink">
        <a class="svgicon" href="<%= new_article_path %>">
            <svg class="icon">
                <use xlink:href="#icon-plus" />
            </svg>
        </a>
        <p><%= link_to '登録', new_article_path %></link_to></p>
    </div>
